body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.OppPageHeading{
  margin-top: 3rem;
  margin-bottom: -1rem;
}
.Opptextarea{
width: 20rem;
margin-left: 3rem;
margin-right: 3rem;
}

.viewComments{
  float: right;
}

.accordion{
  margin-left: 13rem;
  margin-right: 13rem;
   margin-top: 3rem;
   margin-bottom: 3rem 
  }

  .WritecommentBox{
  width: 30rem;
  margin-left:5px;
  margin-right:5px
  }

  .postComment{
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .PostOppHeading{
   margin-top:40px;
  margin-left:3rem; 
  margin-bottom:2rem
  }
@media only screen and (max-width: 620px) {
  .OppPageHeading{
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .PostOpportunity, .OppCard {
     width: 100%;
   }
   .Opptextarea{
     width: 19rem;
     margin-left: 1rem;
   }
   .PostOppHeading{
    margin-left: 1rem;
   }
   .ViewOppBlock{
     width: -webkit-fill-available;
     margin-top: -2rem;
   }
 }

 
 @media only screen and (max-width: 620px) {
   .accordion{
     margin: 3rem 1rem;
   }
 }

 @media only screen and (max-width: 620px) {
  .viewComments{
    float: none;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 620px) {
  .WriteComment{
    margin-left: -5rem;
    margin-right: -4rem;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 620px) {
  .WritecommentBox{
    width: 20rem;
    margin-left: -5rem;
  }
}

@media only screen and (max-width: 620px) {
  .postComment{
    margin-left: -5rem;
    margin-right: 0.5rem;
  }
}
